<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss}  %c.%M:%L - %m%n"/>
    </Console>
    <File name="FileWriter" fileName="${sys:catalina.home}/logs/reminder.log" immediateFlush="true" append="false">
      <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss}  %c.%M:%L - %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console" />
      <AppenderRef ref="FileWriter" level="info"/>
    </Root>
  </Loggers>
</Configuration>